  <div ng-show="currentUser">
    <strong>Current User:</strong> {{currentUser}}
  </div>
  <div style="text-align: center">
    <div>
      <form ng-submit="queryWord()">
        <h3>find your new favorite word</h3>
        <input type="text" placeholder="WAT DOS IT MENE" ng-model="targetWord"></input>
        </br>
        <button type="submit">Leggo!</button>
      </form>
      <h2 ng-show="currentWord">Looking up: {{currentWord}}</h2>
    </div>
  </div>
  <div ng-show="showLookups">
    <div class="def">
      <h3>Definition</h3>
      <ul>
        <li ng-repeat="def in wordDefinition">
          <p><strong>{{def.partOfSpeech}}</strong> -- {{def.text}}</p>
        </li>
      </ul>
    </div>
    <div class="etym">
      <h3>Etymology</h3>
      <ul>
        <li ng-repeat="etym in wordEtymology">
          <p><strong>{{etym.entry}}</strong> -- {{etym.etymology}}</p>
      </ul>
    </div>
  </div>
  </div>
  <div class="searchHistory" ng-show="showLookups">
    <h5>Lookup History: </h5>
    <ul>
      <li class="past-word" ng-repeat="word in lookupList">
        <a href="" ng-click="pastLookup(word)">{{word}}</a>
        <button class="save-button" ng-click="save(word)">Save to your list</button>
      </li>
    </ul>
  </div>
  <div class="savedList">
    <h3>Saved List<button ng-click="clearList()">Clear your List</button></h3>
    <ul>
        <li class="saved-word" ng-repeat="word in currentList">
            <a href="" ng-click="pastLookup(word)">{{word}}</a>
            <button class="delete-button" ng-click="delete(word)">Delete from your list</button>
        </li>


  </div>
  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1 style="font-family: Josefin">Wordrly</h1>
    </div>
  </script>
  <script>
    $('.searchHistory').on("mouseenter", ".past-word", function() {
        $(this).children('.save-button').toggle()
    });
    $('.searchHistory').on("mouseleave", ".past-word", function() {
      $(this).children('.save-button').toggle()
    });
    $('.savedList').on("mouseenter", ".saved-word", function() {
        $(this).children('.delete-button').toggle()
    });
    $('.savedList').on("mouseleave", ".saved-word", function() {
      $(this).children('.delete-button').toggle()
    });
</script>